!!! 5
html
  head
    title Requirejs boilerplate
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0")
    - if ( typeof(bootstraps) !== 'undefined' )
      script
        var bootstraps = !{bootstraps};
    link(rel="stylesheet",type="text/css",href="/css/home.css")
    script(src='/js/lib/require.js')
    script(src='/js/config.js')
    script
      require(['/js/home.js']);
  body
    script.
      var require = {
      
      }
    p Loading...